.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 1rem; /* Added responsive padding */
}

.feature-card {
  background-color: #673AB7;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  flex-basis: calc(100% - 4rem); /* Full width by default */
  max-width: 300px;
  margin-bottom: 2rem;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feature-card p {
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .feature-card {
    flex-basis: calc(50% - 4rem); /* Two columns on medium screens */
  }
}

@media (min-width: 900px) {
  .feature-card {
    flex-basis: calc(33.33% - 4rem); /* Three columns on large screens */
  }
}
