.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #121212;
  }
  
  .header-title {
    font-family: sans-serif;
    font-weight: normal; /* Reduced boldness */
    color: white;
    font-size: 20px; /* Reduced font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .buttons-container {
    display: flex;
    gap: 20px;
  }
  
  .button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  