.hero {
  background-image: url("https://cdn.dorik.com/66ace0e425863b0011ade333/images/photo-1517245386807-bb43f82c33c4-qErRC.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: white;
  padding: 100px 1rem; /* Responsive padding */
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.hero h1 {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2rem; /* Adjust font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  word-wrap: break-word; /* Ensure long words break */
}

.hero p {
  font-family: sans-serif;
  color: white;
  font-size: 1rem; /* Adjust font size */
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  word-wrap: break-word; /* Ensure long words break */
}
