.hero {
    background-image: url("https://cdn.dorik.com/66ace0e425863b0011ade333/images/photo-1517245386807-bb43f82c33c4-qErRC.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 350px; /* Increased height */
    color: white;
    padding: 150px 0; /* Increased padding */
    text-align: center;
  }
  
  .hero h1 {
    font-family: sans-serif; /* Replace with a specific font if known */
    font-weight: bold;
    color: white;
    font-size: 3rem; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
  }
  
  .hero p {
    font-family: sans-serif;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  
  .hero-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .hero-actions span {
    color: white;
    cursor: pointer;
  }
  